@use "../abstract/variable" as var; //modules
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;
.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #90f06a;

  @include mixins.responsive(xs) {
    //css code
    padding: 2rem 2rem;

    h2 {
      font-size: 1rem;
    }
    h2 > span {
      font-size: 1rem;
    }
  }

  @include mixins.responsive(sm) {
    //css code
    padding: 2rem 2rem;
    h2 > span {
      font-size: 2rem;
    }
  }

  @include mixins.responsive(md) {
    //css code
    padding: 2rem 2rem;
    h2 > span {
      font-size: 2rem;
    }
  }

  @include mixins.responsive(lg) {
    //css code
    padding: 1rem 2rem;
    h2 {
      font-size: 1rem;
    }
    h2 > span {
      font-size: 1rem;
    }
  }

  .nav-toggler {
    display: none;

    @include mixins.responsive(xs) {
      display: block;
      font-size: 1.3rem;
    }

    @include mixins.responsive(sm) {
      display: block;
      font-size: 1.3rem;
    }

    @include mixins.responsive(lg) {
      display: none;
      font-size: 1.3rem;
    }
  }

  &--menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: bolder;

    @include mixins.responsive(xs) {
      display: none;
    }

    @include mixins.responsive(sm) {
      display: none;
    }

    @include mixins.responsive(sm) {
      display: flex;
    }

    &__item > a {
      margin-right: 5rem;
      font-size: 16px;
      text-decoration: none;
      color: #242424;
      transition: 300ms;

      &:hover {
        color: func.theme-colors();
      }

      &.active {
        color: func.theme-colors();
      }

      @include mixins.responsive(sm) {
        font-size: 11px;
      }
    }
  }
}
