@use "../abstract/variable" as var;
@use "../abstract/functions" as func;

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  text-decoration: none;
  line-height: 1;
  font-size: 0.98rem;
  font-weight: 600;
  border: 2px solid func.theme-colors();
  outline: none;
  display: inline-block;
  cursor: pointer;

  &-primary {
    @extend .btn;
    background-color: func.theme-colors();
    color: #fff9f9;

    &:hover {
      background-color: func.theme-colors("primary-hover");
    }
  }

  &-primary-outlined {
    @extend .btn;
    background-color: #fff;
    border: 2px solid func.theme-colors();
    color: func.theme-colors();

    &:hover {
      background-color: func.theme-colors("primary-hover");
      color: #fff;
    }
  }
}
