$font-primary: "Poppins", sans-serif;
$font-galindo: "Galindo", cursive;
$theme-colors: (
  "primary": #1a1de2,
  "primary-hover": #2225b9,
  "dark": #010408a4,
  "green": rgba(101, 201, 101, 0.904),
  "violet": #7c177c,
  "menu-bg": #0080ff,
);
