@use "../abstract/mixins" as mixins;

.contact {
  padding: 8rem 20rem;
  background-color: #83b4a6b2;

  @include mixins.responsive(xs) {
    padding: 4rem 2rem;
  }

  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;

    @include mixins.responsive(xs) {
      flex-direction: column;
    }

    &--contents {
      flex-grow: 1;
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        color: grey;

        @include mixins.responsive(xs) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
