@use "../abstract/mixins" as mixins;

.hero-area {
  padding: 8rem 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @include mixins.responsive(xs) {
    padding: 6rem 2rem;
    flex-direction: column;

    img {
      width: auto;
    }
  }

  @include mixins.responsive(sm) {
    padding: 5rem 2rem;
    flex-direction: column;

    img {
      width: 20rem;
    }
  }

  @include mixins.responsive(md) {
    padding: 5rem 2rem;
    flex-direction: column;

    img {
      width: 30rem;
    }
  }

  @include mixins.responsive(lg) {
    padding: 8rem 3rem;
    flex-direction: row;
    img {
      width: 15rem;
    }
  }

  @include mixins.responsive(xlg) {
    padding: 8rem 6rem;
    flex-direction: row;
    img {
      width: 35rem;
    }
  }

  &--contents {
    max-width: 34rem;

    @include mixins.responsive(lg) {
      max-width: 30rem;
    }

    @include mixins.responsive(lg) {
      max-width: 30rem;
    }

    &--title {
      font-size: 2rem;
      font-weight: 600;

      @include mixins.responsive(xs) {
        font-size: 1.3rem;
        & > span {
          font-size: 1.5rem;
        }
      }

      @include mixins.responsive(sm) {
        h2 {
          font-size: 1rem;
        }
      }

      @include mixins.responsive(lg) {
        font-size: 2rem;
      }

      @include mixins.responsive(xlg) {
        font-size: 2rem;
      }

      & > span {
        font-size: 1.5rem;
      }
    }

    &--desc {
      margin-top: 1rem;
      font-size: 1.2rem;
      line-height: 1.8;

      @include mixins.responsive(xs) {
        font-size: 1.2rem;
      }

      @include mixins.responsive(lg) {
        font-size: 1.2rem;
      }

      @include mixins.responsive(xlg) {
        font-size: 2rem;
      }
    }
  }
}
