.hero-area {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &--contents {
    max-width: 38rem;
  }

  &--title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &--desc {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}
